body {
  font-family: Arial;
  background: #111;
  color: #fff;
}
.produto {
  background: #222;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
button {
  background: #00ff88;
  border: none;
  padding: 8px;
}
.modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 20%;
  background: #000;
  padding: 20px;
}
